{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ category.name }}{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ category.name }}</li>
{% endblock %}
{% block body %}
    <div class="site-block"><div class="title-site">Сайты из категории <strong>{{ category.name }}</strong></div>
        {% for site in sites %}
            <div class="info-site"><a href="{{ path('showSite', {'id': site.id}) }}"><strong>{{ site.title }}</strong></a></div>
            <div class="info-site">{{ site.shortdescription }}</div>
        {% else %}
            <div class="info-site">Сайтов в данной категории пока нет.</div>
        {% endfor %}
    </div>
{% endblock %}