{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ category.name }}{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item">{{ category.name }}</li>
{% endblock %}
{% block body %}
    <h1>Сайты из категории <strong>{{ category.name }}</h1>
    {% for site in sites %}

        <a href="{{ path('showSite', {'id': site.id}) }}"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ site.title }}</h5>
                <small>{{ site.comments|length }} comments</small>
            </div>
            <p class="mb-1">{{ site.shortdescription }}</p>
        </a>
    {% else %}
        <p>Сайтов в данной категории пока нет.</p>
    {% endfor %}
{% endblock %}