<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="description"  content="{% block meta_description %}Белый каталог сайтов, добавьте свой сайт бесплатно.{% endblock %}" />
		<meta name="keywords"  content="{% block meta_keywords %}Белый,каталог,сайты,бесплатно{% endblock %}" />
        <title>{% block title %}Linkcat{% endblock %}</title>
        {% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
			<link rel="stylesheet" href="{{ asset('libs/style.css') }}" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('libs/e-book.png') }}" />
    </head>
    <body>
    	<nav>
		<ul>
			<li>
				<a href="{{ path('homepage') }}">ГЛАВНАЯ</a>
			</li>
			<li>
				<a href="{{ path('feedback') }}">ОБРАТНАЯ СВЯЗЬ</a>
			</li>
			<li>
				<a href="{{ path('about') }}">РЕКЛАМА</a>
			</li>
			<li>
				<a href="{{ path('addSite') }}" id="add-site">ДОБАВИТЬ САЙТ</a>
			</li>
			<div class="search">
				<input type="search" name="search" id="searcher" placeholder="Поиск по сайту" />
				<input id="find" type="button" name="search" value="Найти" />
			</div>
		</ul>

	</nav>
	<div class="content">
		<!-- title top  class="title-top"-->
		<div  style=" font-size: 14px; padding: 5px;">
			{% block breadcrumbs %}<a href="{{ path('homepage') }}">Главная</a>{% endblock %}
		</div>
		{% block sidebar %}
			<div class="left-side-bar">
				{{ render(controller(
					'AppBundle:Sidebar:showSidebar'
				)) }}
			</div>
		{% endblock %}
		<div class="page">

			{% block body %}
				Body
			{% endblock %}
		</div>
	</div>
	{% block footer %}
	<footer>
		<div class="bottom-phone">
			&copy; "Linkcat" Все права защищены.
		</div>
		<div class="bottom-copy">
			<div class="bottom-logo"><img src="{{ asset('libs/logo.png') }}" width="30px" height="30px" align="middle"/></div>
			<div class="bottom-text">
					<a href="http://nicknixer.ru">Разработка сайта</a>
					<br/>
					Записки информационщика
			</div>
		</div>
	</footer>
	{% endblock %}
	{% block javascripts %}{% endblock %}
    </body>
</html>
