{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Добавление сайта{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item">Добавление сайта</li>
{% endblock %}
{% block body %}
<h1>Добавление сайта</h1>
{{  form_start(form) }}
    <div>
        {{ form_errors(form.url) }}
    </div>
    <div class="form-group">
        <label>Название</label>
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        <label>E-mail</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        <label>URL</label>
        {{ form_widget(form.url, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        <label>Категория</label>
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        <label>Короткое описание</label>
        {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        <label>Полное описание</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        <label>Ключевые слова</label>
        {{ form_widget(form.keywords, {'attr': {'class': 'form-control'}})}}
    </div>

    <div class="form-group">
        {{ form_widget(form.add, {'attr': {'class': 'form-control btn btn-primary'}})}}
    </div>
{{ form_end(form) }}
{% endblock %}