{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ site.shortdescription }}{% endblock %}
{% block meta_description %}{{ site.shortdescription }}{% endblock %}
{% block meta_keywords %}{{ site.keywords }}{% endblock %}
{% block breadcrumbs %}
        {{ parent() }} / <a href="{{ path('showCategory', {'id': category.id}) }}">{{ category.name }}</a> / {{ site.title|slice(0,20) }}...
{% endblock %}
{% block body %}
    <div class="site-block">
        <div class="title-site"><b>Информация о сайте</b></div>

        <div class="info-site"><b>Дата добавления:</b> {{ site.date|date("m/d/Y") }}</div>
        <div class="info-site"><b>Адрес:</b> <a href="{{ site.url }}">{{ site.url }}</a></div>
        <div class="info-site"><b>Описание:</b> {{ site.description }}</div>
        <div class="info-site"><b>Ключевые слова:</b> {{ site.keywords }}</div>
        <div class="info-site"><b>Перейти на сайт</b> <a href="{{ site.url }}">{{ site.title }}</a></div>
    </div>

    <div class="site-block">
        <div class="title-site">
            <strong>Отзывы о сайте</strong>
        </div>
        {% for comment in comments %}
            <div class="info-site"><b>{{ comment.name }}</b>: {{ comment.message }} ({{ comment.date|date("d/m/Y") }})</div>
        {% else %}
            <div class="info-site">Отзывов пока нет.</div>
        {% endfor %}
    </div>
{% endblock %}