{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Обратная связь{% endblock %}
{% block breadcrumbs %}
	{{ parent() }}
	<li class="breadcrumb-item">Обратная связь</li>
{% endblock %}
{% block body %}

<h1>Обратная связь</h1>

{{  form_start(form) }}


	<div class="form-group">
		<label>Имя</label>
		{{ form_widget(form.name, {'attr': {'class': 'form-control'}})}}
	</div>

	<div class="form-group">
		<label>Email address</label>
		{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		<label>Сообщение</label>
		{{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.send, {'attr': {'class': 'form-control btn btn-primary'}}) }}
	</div>
{{ form_end(form) }}
{% endblock %}
