{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Обратная связь{% endblock %}
{% block breadcrumbs %}
	{{ parent() }}
	<li class="breadcrumb-item">Обратная связь</li>
{% endblock %}
{% block body %}
<div class="site-block">
	<div class="title-site"><strong>Обратная связь</strong></div>
	{{  form_start(form) }}
	<div class="info-site">
	    <table>
			<tr>
				<td>Имя: </td>
				<td>{{ form_widget(form.name) }}</td>
			</tr>
			<tr>
				<td>Email: </td>
				<td>{{ form_widget(form.email) }}</td>
			</tr>
			<tr>
				<td>Сообщение:</td>
				<td>{{ form_widget(form.message) }}</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.send) }}</td>
			</tr>
		</table>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}
