{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Каталог сайтов{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block body %}
    <h1>Добро пожаловать в белый каталог сайтов!</h1>
    <p>
        Перед вами модерируемый <strong>белый каталог сайтов</strong>.<br />
        В рунете тысячи белых каталогов сайтов, но этот <strong>особенный</strong>!<br />
        Вы совершенно бесплатно можете <strong>добавить свой сайт в каталог</strong> и он появится в списке.<br />
        Добавление сайта в белый каталог позволяет совершенно бесплатно получить обратную ссылку на ваш сайт!<br />
        Это очень полезно для SEO-оптимизации вашего сайта.<br />
        Вперед! Добавьте свой сайт.
    </p>
    {% if sites %}
        <h2>Самые популярные в каталоге</h2>
        <ul class="list-group">
        {% for site in sites %}
            <a href="{{ path('showSite', {'id': site.id}) }}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ site.title }}</h5>
                    <small>{{ site.passes }} passes</small>
                </div>
                <p class="mb-1">{{ site.shortdescription }}</p>
                <small>{{ site.category.name }}</small>
            </a>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}